<!-- <h1>Post Your Questions Here!</h1>

<form action="/questions" method="POST">
	<label>Your Question: </label>
	<input type="text" name="title" required>
	<input type="submit" value="Post Question!">
</form> -->