#menu{
	float: right;
}

#user_control{
	float: left;
}
#logo{
	color: red;
	font: Helvetica;
}

#log_in_page{
	background-image:url("/img/background.jpg");
}

#wrap {
	display: table;
	text-align: left;
}

#left_col {
	display:table-cell;

}

#right_col {
	display:table-cell;
}

.error{
	color: red;
	font: sans-serif;
	font-weight: bold;
	font-size: 20px;
}

#user_control{
	width:100%;
	text-align: left;
}
.user_button{
	display: inline-block;
	float:left;
}



.line-separator{
	height:1px;
	background:#717171;
	border-bottom:1px solid #313030;
}

.post_all {
	border-top:1px dotted #000000;
	width: 70%;
	margin: auto;
}

.post {
	border-top:1px dotted #000000;
}

.profile_post{
	font-size: 20px;
	font-weight: bold;
}

.top_stories {
	width: 70%;
	margin: auto;
}

a {
	text-decoration: none; 
	color: black;
}

a:hover{
	text-decoration: underline;
}