#logo{
	color: red;
	font: Helvetica;
}

#log_in_page{
	background-image:url("/img/background.jpg");
}
/*
.floating_box{
	display: inline-block;
	float: left;
	width: 30%;
	margin: auto;
	text-align: left;
}*/

#wrap {
   width:400px;
   margin:0 auto;
}

#left_col {
   float:left;
   width:200px;
}

#right_col {
   float:right;
   width:200px;
}

.post_all {
	border-top:1px dotted #000000;
	width: 70%;
	margin: auto;
}

.post {
	border-top:1px dotted #000000;
}

.top_stories {
	width: 70%;
	margin: auto;
}

a {
	text-decoration: none; 
	color: black;
}

a:hover{
	text-decoration: underline;
}