<h1>Edit Answer</h1>


<form action="/answers/<%=@answer.id%>" method="post">
	<input type="hidden" name="_method" value="patch" >
	
	<label>Content: </label>
	<input type="text" name="content" value="<%= @answer.content%>"><br>
	
	<input type="submit" value="Done">
</form>
