
<h1> Welcome to Quora Clone!</h1>

<%= @error if @error %>

<% if @user.errors.any?%>
	<div class="Signup_Errors">
	<% for message_error in @user.errors.full_messages %>
		<p><%=message_error %> </p>
	<%end%>
	</div>
<%end%>


<h2>SIGN UP</h2>
<form action="/users" method="POST">
	<label>Name: </label><br>
	<input type="text" name="name" required><br>
	<label>Email: </label><br>
	<input type="text" name="email" required><br>
	<label>Password (minimum 8): </label><br>
	<input type="password" name="password" required><br>
	<label>COnfirmation Your Password: </label><br>
	<input type="password" name="password_confirmation" required><br>
	<input type="submit" value="Sign Up">
</form>


<h2>LOG IN</h2>
<form action="/users/login" method="POST">
	<label>Email: </label><br>
	<input type="text" name="email"><br>
	<label>Password: </label><br>
	<input type="password" name="password"><br>
	<input type="submit" value="Log In">
</form>


