<head>
	<script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/i18n/jquery-ui-i18n.js"></script>

	<script type="text/javascript" src="/js/application.js"></script>
	
  	<link rel="stylesheet" href="/css/application.css">


  	<script type='text/javascript' src='js/jquery.simplemodal.js'></script>
	  
	<nav class="navbar navbar-inverse" id="menu">
	  	<div class="container-fluid">
		  	<div class="navbar-header">
		  		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>                       
		      </button>
		  		<a class="navbar-brand" href="/questions">Quora</a>
		  	</div>
		  	
		  	<div class="collapse navbar-collapse" id="myNavbar">
			  	<ul class="nav navbar-nav navbar-right">

		  	  	  <li><a href="/questions">Top Stories</a></li>

			  	  
			  	  <% if logged_in?%>
			  	  	<li><a href="#" data-toggle = "modal" data-target = "#myModal_write_question"><span  class="glyphicon glyphicon-log-in" ></span> Ask Question</a></li>

			  	  	<li class="active"><a href="/users/<%=session[:user_id]%>"><%=User.find(session[:user_id]).name%></a></li>
			  	  	
			  	  	<li><a href="/users/:id/logout">Log Out</a></li>		  	  	
			  	  <%else%>
				  	  <li><a href="#" data-toggle = "modal" data-target = "#myModal"><span  class="glyphicon glyphicon-log-in" ></span> Ask Question</a></li>

				  	  <li class="active"><a href="#">Guest</a></li>
				  	   
				  	  <li><a href="#" data-toggle = "modal" data-target = "#myModal"><span  class="glyphicon glyphicon-log-in" ></span> Login</a></li>

				  	  <li><a href="#" data-toggle = "modal" data-target = "#myModal_signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>

			  	  <% end %>
			  	</ul>   
	  	  	</div>	  
	    </div>
	</nav>
</head>

<!-- Modal -->
<div class="modal fade" id="myModal_signup" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header" style="padding:35px 50px;">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4><span class="glyphicon glyphicon-lock"></span> Sign Up</h4>
      </div> <!--modal-header -->

      <div class="modal-body" style="padding:40px 50px;">

        <form role="form" action="/users" method="post">

	        <div class="form-group">
            <label for="name"><span class="glyphicon glyphicon-user"></span> Name</label>
            <input type="text" class="form-control" id="name" placeholder="Enter name" name="name">
          </div>

          <div class="form-group">
            <label for="usrname"><span class="glyphicon glyphicon-user"></span> Email</label>
            <input type="text" class="form-control" id="usrname" placeholder="Enter email" name="email">
          </div>

          <div class="form-group">
            <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
            <input type="password" class="form-control" id="psw" placeholder="Enter password" name="password">
          </div>

          <div class="form-group">
            <label for="password_confirmation"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
            <input type="password" class="form-control" id="password_confirmation" placeholder="Reenter password" name="password_confirmation">
          </div>

          <div class="checkbox">
            <label><input type="checkbox" value="" checked>Remember me</label>
          </div>
            <button type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicon-off"></span> Register</button>

        </form>
      </div> <!--modal-body -->

      <div class="modal-footer">
        <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
        <p>Not a member? <a href="#">Sign Up</a></p>
        <p>Forgot <a href="#">Password?</a></p>
      </div> <!--modal-footer -->
    
    </div> <!--modal-content-->
    
  </div><!--modal dialog-->
</div>  <!-- modal fade -->

<!-- Modal Log In -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header" style="padding:35px 50px;">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4><span class="glyphicon glyphicon-lock"></span> Login</h4>
      </div> <!--modal-header -->

      <div class="modal-body" style="padding:40px 50px;">
        <form role="form" action="/users/login" method="post">
          <div class="form-group">
            <label for="usrname"><span class="glyphicon glyphicon-user"></span> Username</label>
            <input type="text" class="form-control" id="usrname" placeholder="Enter email" name="email">
          </div>

          <div class="form-group">
            <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
            <input type="password" class="form-control" id="psw" placeholder="Enter password" name="password">
          </div>

          <div class="checkbox">
            <label><input type="checkbox" value="" checked>Remember me</label>
          </div>
            <button type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicon-off"></span> Login</button>

        </form>
      </div> <!--modal-body -->

      <div class="modal-footer">
        <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
        <p>Not a member? <a href="#">Sign Up</a></p>
        <p>Forgot <a href="#">Password?</a></p>
      </div> <!--modal-footer -->
    
    </div> <!--modal-content-->
    
  </div><!--modal dialog-->
</div>  <!-- modal fade -->


<!-- Modal Write Question -->
<div class="modal fade" id="myModal_write_question" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header" style="padding:35px 50px;">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4><span class="glyphicon glyphicon-list-alt"></span> Write Question </h4>
      </div> <!--modal-header -->

      <div class="modal-body" style="padding:40px 50px;">
        <form role="form" action="/questions" method="post">
          <div class="form-group">
            <label for="title"> Your Question: </label>
            <input type="text" class="form-control" id="title" placeholder="Enter Your Question" name="title" required>
          </div>

            <button type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicon-ok"></span> Submit Your Question</button>

        </form>
      </div> <!--modal-body -->

      <div class="modal-footer">
        <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
        <p>Not a member? <a href="#" data-dismiss="modal" data-toggle = "modal" data-target = "#myModal_signup">Sign Up</a></p>
        <p>Forgot <a href="#">Password?</a></p>

      </div> <!--modal-footer -->
    
    </div> <!--modal-content-->
    
  </div><!--modal dialog-->
</div>  <!-- modal fade -->


<body>
  <%= yield %>
</body>