<head>
<link rel="stylesheet" href="/css/application.css">
<script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/js/application.js"></script>

	<nav id="menu">
	  <% if session[:user_id]%>
  	  	  <a href="/users/<%=session[:user_id]%>"><%=User.find(session[:user_id]).name%></a> |
	  	  <a href="/questions/new">Write Question</a> |
	  	  <a href="/questions">All Question</a> |
	  	  <a href="/users/:id/logout">Log Out</a> |   
	  <% end %>
	</nav>
</head>


<body>
  <%= yield %>
</body>